
form{
    padding: 25px 0px 0px 20px;
    font-weight: bold;
    height: 150%;
    margin-left: 40px;
    position: relative;
    top: -20px;
    .mandatory::after{
        content: "*";
        color: red;
    
    }
    button{
        
        margin: 10px 0px 10px 540px;
    }
}

